.main-container-header( id="stkheader")
    .main-container-header-logo
        a( href="index.html")
            img(src="./img/Logo.svg" alt="logo")
        .main-container-header-enter-logo-subtext
            span Поиск наилучшего лечения для онко-пациента
    a.main-container-header-enter(href="#")
        img(src="./img/user-circle.svg" alt="" class="userImage")
        span.main-container-header-enter-btn Войти


