
.main-container-services-grid
    a.main-container-services-grid-firstitem.main-container-services-grid-item(href='step1.html')
        h3.main-container-services-grid-item-title
            | &Zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&acy; &vcy; &dcy;&vcy;&iecy; &scy;&tcy;&rcy;&ocy;&kcy;&icy; &vcy;&ycy;&gcy;&lcy;&yacy;&dcy;&icy;&tcy; &tcy;&acy;&kcy;
        p.main-container-services-grid-item-text
            | &Pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&ycy; &scy; &dcy;&lcy;&icy;&ncy;&ncy;&ycy;&mcy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;&mcy; &lcy;&ucy;&chcy;&shcy;&iecy; &pcy;&ocy;&mcy;&iecy;&shchcy;&acy;&tcy;&softcy; &vcy; &kcy;&rcy;&ucy;&pcy;&ncy;&ycy;&iecy; &bcy;&lcy;&ocy;&kcy;&icy;
    a.main-container-services-grid-seconditem.main-container-services-grid-item(href='')
        h3.main-container-services-grid-item-title
            | &Zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&acy; &vcy; &dcy;&vcy;&iecy; &scy;&tcy;&rcy;&ocy;&kcy;&icy; &vcy;&ycy;&gcy;&lcy;&yacy;&dcy;&icy;&tcy; &tcy;&acy;&kcy;
        p.main-container-services-grid-item-text
            | &Pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&ycy; &scy; &dcy;&lcy;&icy;&ncy;&ncy;&ycy;&mcy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;&mcy; &lcy;&ucy;&chcy;&shcy;&iecy; &pcy;&ocy;&mcy;&iecy;&shchcy;&acy;&tcy;&softcy; &vcy; &kcy;&rcy;&ucy;&pcy;&ncy;&ycy;&iecy; &bcy;&lcy;&ocy;&kcy;&icy;
    a.main-container-services-grid-thirditem.main-container-services-grid-item(href='')
        h3.main-container-services-grid-item-title &Zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&acy;
        p.main-container-services-grid-item-text
            | &Pcy;&ocy;&dcy;&zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &scy; &pcy;&ocy;&yacy;&scy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&mcy; &tcy;&iecy;&kcy;&scy;&tcy;&ocy;&mcy; &ncy;&acy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &scy;&tcy;&rcy;&ocy;&kcy;
    a.main-container-services-grid-fouritem.main-container-services-grid-item(href='')
        h3.main-container-services-grid-item-title &Zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&acy;
        p.main-container-services-grid-item-text
            | &Pcy;&ocy;&dcy;&zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &scy; &pcy;&ocy;&yacy;&scy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&mcy; &tcy;&iecy;&kcy;&scy;&tcy;&ocy;&mcy; &ncy;&acy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &scy;&tcy;&rcy;&ocy;&kcy;
    a.main-container-services-grid-fiveitem.main-container-services-grid-item(href='')
        h3.main-container-services-grid-item-title &Zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&acy;
        p.main-container-services-grid-item-text
            | &Pcy;&ocy;&dcy;&zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &scy; &pcy;&ocy;&yacy;&scy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&mcy; &tcy;&iecy;&kcy;&scy;&tcy;&ocy;&mcy; &ncy;&acy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &scy;&tcy;&rcy;&ocy;&kcy;
    a.main-container-services-grid-sixitem.main-container-services-grid-item(href='')
        h3.main-container-services-grid-item-title
            | &Zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&acy; &vcy; &dcy;&vcy;&iecy; &scy;&tcy;&rcy;&ocy;&kcy;&icy; &vcy;&ycy;&gcy;&lcy;&yacy;&dcy;&icy;&tcy; &tcy;&acy;&kcy;
        p.main-container-services-grid-item-text
            | &Pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&ycy; &scy; &dcy;&lcy;&icy;&ncy;&ncy;&ycy;&mcy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;&mcy; &lcy;&ucy;&chcy;&shcy;&iecy; &pcy;&ocy;&mcy;&iecy;&shchcy;&acy;&tcy;&softcy; &vcy; &kcy;&rcy;&ucy;&pcy;&ncy;&ycy;&iecy; &bcy;&lcy;&ocy;&kcy;&icy;
    a.main-container-services-grid-sevenitem.main-container-services-grid-item(href='')
        h3.main-container-services-grid-item-title
            | &Zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&acy; &vcy; &dcy;&vcy;&iecy; &scy;&tcy;&rcy;&ocy;&kcy;&icy; &vcy;&ycy;&gcy;&lcy;&yacy;&dcy;&icy;&tcy; &tcy;&acy;&kcy;
        p.main-container-services-grid-item-text
            | &Pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&ycy; &scy; &dcy;&lcy;&icy;&ncy;&ncy;&ycy;&mcy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;&mcy; &lcy;&ucy;&chcy;&shcy;&iecy; &pcy;&ocy;&mcy;&iecy;&shchcy;&acy;&tcy;&softcy; &vcy; &kcy;&rcy;&ucy;&pcy;&ncy;&ycy;&iecy; &bcy;&lcy;&ocy;&kcy;&icy;
a.main-container-ShowMore(href='#') &Pcy;&ocy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &iecy;&shchcy;&iecy;
