
.stepOne
    h2.stepOne-title &SHcy;&acy;&gcy; 1: &Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &dcy;&icy;&acy;&gcy;&ncy;&ocy;&zcy;
    .stepOne-container
        a.stepOne-container-item(href='step2.html')
            h3.stepOne-container-item-title C90 &Mcy;&ncy;&ocy;&zhcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&acy;&yacy; &mcy;&icy;&iecy;&lcy;&ocy;&mcy;&acy;
            span.stepOne-container-item-choosebtn &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
        a.stepOne-container-item(href='')
            h3.stepOne-container-item-title
                | C90.10 &Pcy;&lcy;&acy;&zcy;&mcy;&ocy;&kcy;&lcy;&iecy;&tcy;&ocy;&chcy;&ncy;&ycy;&jcy; &lcy;&iecy;&jcy;&kcy;&ocy;&zcy;
            span.stepOne-container-item-choosebtn &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
        a.stepOne-container-item(href='')
            h3.stepOne-container-item-title C25 &Rcy;&acy;&kcy; &pcy;&ocy;&dcy;&zhcy;&iecy;&lcy;&ucy;&dcy;&ocy;&chcy;&ncy;&ocy;&jcy; &zhcy;&iecy;&lcy;&iecy;&zcy;&ycy;
            span.stepOne-container-item-choosebtn &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
        a.stepOne-container-item(href='')
            h3.stepOne-container-item-title
                | &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &dcy;&icy;&acy;&gcy;&ncy;&ocy;&zcy;&acy; &vcy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &scy;&tcy;&rcy;&ocy;&kcy; &icy;&lcy;&icy; &bcy;&ocy;&lcy;&softcy;&shcy;&iecy;
            span.stepOne-container-item-choosebtn &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
        a.stepOne-container-item(href='')
            h3.stepOne-container-item-title
                | &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &dcy;&icy;&acy;&gcy;&ncy;&ocy;&zcy;&acy; &vcy; &dcy;&vcy;&iecy; &scy;&tcy;&rcy;&ocy;&kcy;&icy;
            span.stepOne-container-item-choosebtn &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
        a.stepOne-container-item(href='')
            h3.stepOne-container-item-title
                | &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &dcy;&icy;&acy;&gcy;&ncy;&ocy;&zcy;&acy; &vcy; &dcy;&vcy;&iecy; &scy;&tcy;&rcy;&ocy;&kcy;&icy;
            span.stepOne-container-item-choosebtn &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
        .stepOne-container-item
            h3.stepOne-container-item-title
                | &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &dcy;&icy;&acy;&gcy;&ncy;&ocy;&zcy;&acy; &vcy; &dcy;&vcy;&iecy; &scy;&tcy;&rcy;&ocy;&kcy;&icy;
            span.stepOne-container-item-choosebtn &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
        a.stepOne-container-item(href='')
            h3.stepOne-container-item-title
                | &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &dcy;&icy;&acy;&gcy;&ncy;&ocy;&zcy;&acy; &vcy; &dcy;&vcy;&iecy; &scy;&tcy;&rcy;&ocy;&kcy;&icy;
            span.stepOne-container-item-choosebtn &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
        a.stepOne-container-item(href='')
            h3.stepOne-container-item-title
                | &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &dcy;&icy;&acy;&gcy;&ncy;&ocy;&zcy;&acy; &vcy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &scy;&tcy;&rcy;&ocy;&kcy; &icy;&lcy;&icy; &bcy;&ocy;&lcy;&softcy;&shcy;&iecy;
            span.stepOne-container-item-choosebtn &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
    .stepOne-pagination
        a.stepOne-pagination-item.stepOne-pagination-active 1
        a.stepOne-pagination-item 2
        a.stepOne-pagination-item 3
        a.stepOne-pagination-item 4
        a.stepOne-pagination-item 5
